// custom.scss
.fancy {
    display:none;
}

.splash h1 {
    background: transparent url("/images/rainbow.png") no-repeat;
    background-position:left center;
    background-size: 1em 1em;
    padding-left:1.2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    .post {
        width:12em;
        height:14em;
        margin: 0.5em;
        a.post__thumb {
            width:12em;
            height:12em;
            display: block;
            background-color: #fafafa;
        }
        a.tag__link {
            display: none;
        }
        img {
            max-width:12em; 
            max-height: 12em;
        }
    }
}
 


@media screen and (min-width: 370px) and (max-width: 520px) {
    .gallery {
        .post {
            margin: 0.3em;
            width: 9em;
            height:11em;
            a.post__thumb {
                width:9em;
                height:9em;
            }
            img {
                max-width: 9em; 
                max-height: 9em;
            }
        }
    }
}
