{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    

<div class="post-list__container">
  <ul class="post-list gallery">
    {{ range $page := .Pages }}

      {{ range $img := .Params.images }}
      <li class="post">
        <div class="post__header">
          
      
            <a href="{{$page.RelPermalink}}" class="post__thumb">
              <img src="{{$page.RelPermalink}}{{ $img }}" loading="lazy" title="{{ $page.Title }}" />
            </a>
            <time class="post__date" datetime="{{ $page.Date }}"
            >{{ $page.Date.Format $dateFormat }}</time>
      
          <!-- { partial "tags.html" $page}} -->
        </div>
      </li>
      {{ end }}
    {{ end }}
  </ul>
  <!-- { partial "browse-by-tag.html" .}} -->
</div>

{{ end }}
